@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,800;1,300&display=swap');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');

@import '../css/reset.min.css';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Raleway', sans-serif;

    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 25px;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/bubbles';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/stories';
@import 'blocks/approve';
@import 'blocks/playtest';
@import 'blocks/footer';
@import 'blocks/media';