@keyframes swim {
  0% {
    transform: translateY(0) rotate(-2deg);
  }
  25% {
    transform: translateY(-10px) rotate(2deg);
  }
  50% {
    transform: translateY(0) rotate(-2deg);
  }
  75% {
    transform: translateY(-10px) rotate(2deg);
  }
  100% {
    transform: translateY(0) rotate(-2deg);
  }
}

@keyframes moveLight {
  from {
    transform: translateX(-14rem) skewX(-45deg);
  }
  to {
    transform: translateX(34rem) skewX(-45deg);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes ship {
  0% {
    transform: translateY(0) rotate(-1deg);
  }
  50% {
    transform: translateY(-5px) rotate(1deg);
  }
  100% {
    transform: translateY(0) rotate(-1deg);
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
