.approve {
  padding: 64px 0;
  background: var(--dark-blue-color);
  position: relative;
  @include sm {
    padding: 32px 0;
  }
  &__subtitle {
    margin-top: 16px;
    @include xl {
      br {
        display: none;
      }
    }
  }
  &__slider {
    margin-top: 32px;
    max-width: 860px;
  }
  &__wrapper {
    align-items: center;
  }
  &__item {
    width: 100%;
  }
  &__container {
    max-width: 660px;
    height: 417px;
    background: var(--light-color);
    border-radius: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    @include lg {
      max-width: 520px;
      height: 470px;
    }
    @include sm {
      max-width: 100%;
      height: 680px;
    }
  }
  &__info {
    padding: 28px;
    background: var(--blue-color);
  }
  &__name {
    color: var(--light-color);
    font-size: var(--text-2xl);
    font-weight: 800;
    line-height: normal;
  }
  &__prof {
    margin-top: 4px;
    font-weight: 400;
    font-size: var(--text-xl);
    color: var(--light-color);
    line-height: normal;
  }
  &__content {
    padding: 28px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    justify-content: space-between;
  }
  &__social {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }
  &__icon {
    width: 23px;
    height: 23px;
    img {
      width: 100%;
    }
  }
  &__link {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-size: var(--text-base);
    color: var(--grey-text-color);
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      color: var(--blue-color);
    }
  }
  &__text {
    color: var(--grey-text-color);
    font-size: var(--text-base);
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    span {
      font-weight: 600;
      color: var(--blue-color);
    }
  }
  &__button {
    z-index: 1;
    position: absolute;
    top: 50%;
    border-radius: 100%;
    width: 71px;
    height: 71px;
    background: var(--light-color);
    transition: 0.4s;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      background: url("@img/icons/arrow.svg") no-repeat center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    img {
      max-width: 100%;
    }
    &_prev {
      left: 5px;
      transform: translateY(-50%) rotate(180deg);
      &:hover {
        transform: translateY(calc(-50% - 3px)) rotate(180deg);
      }
    }
    &_next {
      right: 5px;
      transform: translateY(-50%);
      &:hover {
        transform: translateY(calc(-50% - 3px));
      }
    }
    &:hover {
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    }
    @include md {
      display: none;
    }
  }
}
