.email {
  padding: 4rem 0;
  background: var(--color-pink);
  @include lg {
    padding: 2rem 0;
  }
  &__wrapper {
    padding: 3.375rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background: var(--color-white);
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.25);
    @include lg {
      padding: 2.5rem;
    }
    @include sm {
      padding: 2rem;
    }
  }
  &__description {
    margin-top: 1rem;
  }
  &__content {
    position: relative;
    margin-top: 2rem;
  }
  &__bg-element {
    position: absolute;
    top: 0;
    right: 25%;
    transform: translateX(50%);
    max-height: 440px;
    @include lg {
      display: none;
    }
  }
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include lg {
    width: 100%;
  }
  &__label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__button {
    padding: 1rem 1.5rem;
    color: var(--color-white);
    font-size: var(--text-2xl);
    font-weight: 700;
    border-radius: 1rem;
    background: var(--color-blue);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
    @include sm {
      font-size: var(--text-xl);
    }
  }
}

.input {
  padding: 1rem 1.5rem;
  width: 100%;
  border-radius: 1rem;
  border: 3px solid var(--color-blue);
  color: var(--color-grey);
  font-size: var(--text-md);
  font-weight: 400;
  outline: none;
  &::placeholder {
    color: rgb(155, 155, 155);
  }
  &:focus {
    border-color: var(--color-grey);
  }
}

.textarea {
  outline: none;
  resize: none;
  width: 100%;
  padding: 1rem 1.5rem;
  width: 100%;
  color: var(--color-grey);
  font-size: var(--text-md);
  font-weight: 400;
  border-radius: 1rem;
  border: 3px solid var(--color-blue);
  &::placeholder {
    color: rgb(155, 155, 155);
  }
  &:focus {
    border-color: var(--color-grey);
  }
}
