.header {
  position: relative;
  padding: 3.375rem 0;
  background-color: var(--color-blue);
  @include lg {
    padding: 2rem 0;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  &__logo {
    height: 60px;
    img {
      display: block;
      height: 100%;
      object-fit: contain;
    }
    @include xl {
      height: 50px;
    }
    @include sm {
      height: 40px;
    }
  }
  &__stores {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include lg {
      display: none;
    }
  }
  &__store {
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    @include xl {
      width: 50px;
      height: 50px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      transform: translateY(-2px);
      border-radius: 3.125rem;
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.nav {
  display: flex;
  @include lg {
    z-index: 10;
    position: fixed;
    right: 0;
    top: 114px;
    height: calc(100vh - 114px);
    width: 80%;
    max-width: 300px;
    align-items: start;
    justify-content: center;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }
  @include sm {
    top: 104px;
    height: calc(100vh - 104px);
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    @include lg {
      text-align: center;
      flex-direction: column;
      padding: 2rem;
      overflow-y: auto;
      transition: 0.3s ease-in-out;
      background: rgba(76, 130, 239, 0.85);
      backdrop-filter: blur(2px);
      border-radius: 2rem 0rem 0rem 2rem;
      border: 1px solid white;
      border-right: none;
    }
  }
  &__item {
    &_mobile {
      display: none;
      @include lg {
        display: block;
      }
    }
    @include lg {
      width: 100%;
    }
  }
  &__link {
    display: block;
    width: 100%;
    flex: 1;
    color: var(--color-white);
    font-size: var(--text-md);
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--color-blue-light);
    }
  }
  &_active {
    transform: none !important;
  }
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  @include lg {
    display: block;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    transition: 0.4s ease-in-out;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    transform: translateY(-50%);
    transition: 0.4s ease-in-out;
  }
  &_active &__line {
    opacity: 0;
    transition: none;
  }
  &_active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
    }
    &::after {
      bottom: auto;
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}
