.header {
  z-index: 10;
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark-blue-color);
  border-bottom: 2px;
  border-color: var(--light-color);
  transition: 0.4s;
  @include lg {
    padding: 16px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 145px;
    @include lg {
      width: 110px;
    }
    @include sm {
      width: 95px;
    }
  }
  &__stores {
    display: flex;
    column-gap: 8px;
  }
  &__store {
    display: flex;
    width: 147px;
    transition: 0.4s;
    &:hover {
      transform: translateY(-3px);
    }
    @include lg {
      width: 120px;
    }
    @include sm {
      width: 90px;
    }
  }
  &_active {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
  }
}
