.hero {
  display: flex;
  background: var(--color-blue);
  padding-bottom: 3.375rem;
  height: 700px;
  &__container {
    position: relative;
    width: 100%;
  }
  &__subtitle {
    width: 50%;
    margin-top: 1rem;
    font-size: var(--text-4xl);
    font-weight: 800;
    color: var(--color-white);
    span {
      color: var(--color-pink);
    }
  }
  &__tags {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }
  &__tag {
    display: flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-white);
    transition: all 0.3s ease-in-out;

    color: var(--color-white);
    font-size: var(--text-md);
    font-weight: 500;
    &:hover {
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
  }
  &__stores {
    margin-top: 2rem;
  }
  &__socials {
    padding: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__bg-elements {
    &_raccoons {
      padding: inherit;
      position: absolute;
      right: 0;
      bottom: -3.375rem;
    }
    &_star {
      position: absolute;
      animation: move 0.9s infinite alternate ease-in-out;
    }
    &_star-1 {
      bottom: 340px;
      right: 210px;
      rotate: (45deg);
      animation-delay: 0.2s;
    }
    &_star-2 {
      bottom: 180px;
      right: 550px;
      rotate: (-25deg);
      animation-delay: 0.4s;
    }
    &_star-3 {
      bottom: 460px;
      right: 550px;
      animation-delay: 0.3s;
    }
  }
}

.stores {
  display: flex;
  gap: 0.5rem;
  &__item {
    display: block;
    height: 40px;
    transition: all 0.3s ease-in-out;
    img {
      height: 100%;
      object-fit: contain;
    }
    &:hover {
      transform: translateY(-2px);
    }
  }
}

.socials {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  &__item {
    display: flex;
    width: 40px;
    transition: all 0.3s ease-in-out;
    img {
      width: 100%;
      object-fit: contain;
    }
    &:hover {
      transform: translateY(-2px);
      border-radius: 3.125rem;
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
  }
}
