.hero {
  display: flex;
  background: var(--color-blue);
  padding: 3.375rem 0;
  height: 700px;
  @include xl {
    height: 580px;
  }
  @include lg {
    padding: 2rem 0;
  }
  @include sm {
    overflow: hidden;
  }
  &__container {
    position: relative;
    width: 100%;
  }
  &__subtitle {
    width: 50%;
    margin-top: 1rem;
    font-size: var(--text-4xl);
    font-weight: 800;
    color: var(--color-white);
    @include xl {
      width: 60vw;
    }
    @include lg {
      font-size: var(--text-2xl);
      br {
        display: none;
      }
    }
    @include sm {
      width: auto;
      font-size: var(--text-ms);
    }
    span {
      color: var(--color-pink);
    }
  }
  &__tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  &__tag {
    display: flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-white);
    transition: all 0.3s ease-in-out;
    color: var(--color-white);
    font-size: var(--text-md);
    font-weight: 500;
    &:hover {
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    }
    @include md {
      font-size: var(--text-sm);
    }
  }
  &__stores {
    margin-top: 2rem;
    @include lg {
      flex-direction: column;
    }
  }
  &__socials {
    padding: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__bg-elements {
    &_raccoons {
      padding: inherit;
      position: absolute;
      right: 0;
      bottom: -3.375rem;
      @include xl {
        width: 460px;
      }
      @include lg {
        bottom: -2rem;
        width: 440px;
      }
      @include md {
        width: 380px;
      }
      @include sm {
        width: 310px;
        right: -115px;
      }
    }
    &_star {
      position: absolute;
      animation: moveUp 0.9s infinite alternate ease-in-out;
    }
    &_star-1 {
      bottom: 340px;
      right: 210px;
      rotate: (45deg);
      animation-delay: 0.2s;
      @include xl {
        bottom: 210px;
        right: 160px;
      }
      @include lg {
        bottom: 160px;
        right: 100px;
      }
      @include sm {
        bottom: 180px;
        right: 20px;
      }
    }
    &_star-2 {
      bottom: 180px;
      right: 550px;
      rotate: (-25deg);
      animation-delay: 0.4s;
      @include xl {
        bottom: 100px;
        right: 420px;
      }
      @include lg {
        bottom: 110px;
        right: 390px;
      }
      @include md {
        bottom: 90px;
        right: 360px;
      }
      @include sm {
        bottom: 60px;
        right: 140px;
      }
    }
    &_star-3 {
      bottom: 460px;
      right: 550px;
      animation-delay: 0.3s;
      @include xl {
        bottom: 360px;
        right: 350px;
      }
      @include lg {
        bottom: 270px;
        right: 180px;
      }
      @include sm {
        bottom: 220px;
        right: 100px;
      }
    }
  }
}
