.policy {
  padding: 4rem 0;
  background-color: var(--color-blue);
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__description {
    margin-top: 1rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__text {
    margin: 0;
    margin-top: 1rem;
    color: var(--color-white);
    font-size: var(--text-md);
    font-weight: 500;
  }
}
