.policy {
  padding: 114px 0 64px 0;
  background-color: var(--dark-blue-color);
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  &__subtitle {
    margin-top: 16px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  &__text {
    margin: 0;
    margin-top: 16px;
    color: var(--light-color);
    font-size: var(--text-base);
    font-weight: 400;
  }
}
