.stores {
  display: flex;
  gap: 0.5rem;
  &__item {
    display: block;
    height: 40px;
    transition: all 0.3s ease-in-out;
    img {
      height: 100%;
      object-fit: contain;
    }
    &:hover {
      transform: translateY(-2px);
    }
  }
}
