.team {
  padding: 64px 0;
  position: relative;
  background-color: var(--blue-color);
  &__subtitle {
    margin-top: 16px;
  }
  &__wrapper {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, auto));
    justify-content: center;
    align-items: start;
    gap: 28px;
  }
  &__item {
    display: flex;
    height: 100%;
    border-radius: 42px;
    background: var(--light-color);
    padding: 28px;
    column-gap: 14px;
    align-items: center;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    &:hover {
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    }
    &::before {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      inset: 0 0 0 0;
      background: var(--light-blue-color);
      z-index: 1;
      transition: transform 0.4s ease;
    }
  }
  &__photo {
    z-index: 2;
    width: 128px;
    border-radius: 24px;
    img {
      width: 100%;
    }
  }
  &__info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }
  &__name {
    color: var(--dark-color);
    font-size: var(--text-2xl);
    font-weight: 700;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  &__tag {
    padding: 4px 8px;
    border-radius: 42px;
    background: var(--blue-color);
    color: var(--light-color);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: normal;
  }
}
