.title {
  margin: 0;
  font-size: var(--text-14xl);
  font-weight: 900;
  color: var(--color-white);
  &_2xl {
    font-weight: 700;
    font-size: var(--text-2xl);
  }
  &_4xl {
    font-weight: 700;
    font-size: var(--text-4xl);
  }
  &_9xl {
    font-weight: 800;
    font-size: var(--text-9xl);
  }
  &_blue {
    color: var(--color-blue);
  }
  &_black {
    color: var(--color-black);
  }
}
