.title {
  margin: 0;
  font-size: var(--text-5xl);
  font-weight: 800;
  color: var(--light-color);
  &_blue {
    color: var(--blue-color);
  }
  &_mini {
    font-size: var(--text-2xl);
  }
  @include md {
    font-size: var(--text-4xl);
  }
}
