.about {
    padding: 50px 0;
    &__subtitle {
        margin-top: 15px;
    }
    &__wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 355px);
        justify-content: center;
        align-items: start;
        gap: 60px;
    }
    &-item {
        display: grid;
        row-gap: 15px;
        &__wrapper {
            display: grid;
            grid-template-columns: 120px 210px;
            column-gap: 25px;
            align-items: center;
        }
        &__picture {
            padding: 20px;
            max-width: 120px;
            max-height: 120px;
            border: 3px solid #371ED3;
            border-radius: 25px;
            transition: 0.4s;
            img {
                width: 100%;
            }
            &:hover {
                box-shadow: 0px 0px 7px 1px rgba(55, 30, 211, 0.75);
            }
        }
        &__title {
            font-weight: 800;
            font-size: 24px;
            line-height: 28px;
            color: #371ED3;
        }
        &__description {
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
        }
    }
    &-elements {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &__fish {
            &_red {
                animation: swim_rotate 15s infinite alternate ease-in-out;
                position: absolute;
                top: 25px;
                left: 25px;
                animation-duration:4s;
            }
            &_white {
                animation: swim 15s infinite alternate ease-in-out;
                position: absolute;
                top: 94px;
                right: 5px;
                animation-duration:5s;
            }
        }
    
    }
    @keyframes swim {
        0% {
            transform: translateY(0) rotate(-1deg);
        }
        25% {
            transform: translateY(-5px) rotate(1deg);
        }
        50% {
            transform: translateY(0) rotate(-1deg);
        }
        75% {
            transform: translateY(-5px) rotate(1deg);
        }
        100% {
            transform: translateY(0) rotate(-1deg);
        }
    }
    @keyframes swim_rotate {
        0% {
            transform: scaleX(-1) translateY(0) rotate(-1deg);
        }
        25% {
            transform: scaleX(-1) translateY(-5px) rotate(1deg);
        }
        50% {
            transform: scaleX(-1) translateY(0) rotate(-1deg);
        }
        75% {
            transform: scaleX(-1) translateY(-5px) rotate(1deg);
        }
        100% {
            transform: scaleX(-1) translateY(0) rotate(-1deg);
        }
    }
}