.stories {
    min-height: 800px;
    padding: 50px 0;
    background: url(../../img/Background-line.svg) center (center/cover) no-repeat;
    &__wrapper {
        position: relative;
        margin-top: 50px;
    }
    &-item {
        &__tablet {
            position: relative;
            max-width: 674px;
            img {
                width: 100%;
            }
        }
        &__picture {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            min-width: 633px;
            img {
                border-radius: 8px;
                width: 100%;
            }
        }
        &_front {
            position: absolute;
            right: 0;
            top: 90px;
        }
    }
    
}