.stories {
    min-height: 800px;
    padding: 50px 0;
    background: url(../../img/Background-line.svg) top (center/cover) no-repeat;
    &__sliders {
        margin-top: 50px;
        position: relative;
        width: 100%;
    }
    &__slider {
        max-width: 674px;
        margin: 0;
        &_front {
            position: absolute;
            top: 90px;
            right: 0;
        }
    }
    &__wrapper {
        position: relative;
    }
    &-item {
        &__tablet {
            width: 100%;
            position: relative;
            img {
                width: 100%;
            }
        }
        &__picture {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            min-width: 633px;
            img {
                border-radius: 8px;
                width: 100%;
            }
        }
    }
}