@keyframes swim {
    0% {
        transform: translateY(0) rotate(-2deg);
    }
    25% {
        transform: translateY(-10px) rotate(2deg);
    }
    50% {
        transform: translateY(0) rotate(-2deg);
    }
    75% {
        transform: translateY(-10px) rotate(2deg);
    }
    100% {
        transform: translateY(0) rotate(-2deg);
    }
}
@keyframes swim-horizontal {
    0% {
        transform: translateY(0) rotate(-2deg) scaleX(-1);
    }
    25% {
        transform: translateY(-10px) rotate(2deg) scaleX(-1);
    }
    50% {
        transform: translateY(0) rotate(-2deg) scaleX(-1);
    }
    75% {
        transform: translateY(-10px) rotate(2deg) scaleX(-1);
    }
    100% {
        transform: translateY(0) rotate(-2deg) scaleX(-1);
    }
}