.approve {
    padding: 50px 0 75px 0;
    background: var(--blue-color);
    position: relative;
    &__slider {
        margin-top: 25px;
        max-width: 1100px;
        min-height: 350px;
    }
    &__wrapper {
        align-items: center;
    }
    &__item {
        max-width: 100%;
    }
    &__container {
        max-width: 930px;
        min-height: 350px;
        background: var(--light-color);
        border-radius: 35px;

        display: flex;
        flex-direction: column;
        
        position: relative;
        margin: 0 auto;
        padding: 20px;
    }
    &__name {
        font-weight: 800;
        font-size: 24px;
        color: var(--dark-color);
        line-height: normal;
    }
    &__prof {
        font-weight: 500;
        font-size: 24px;
        color: var(--dark-blue-color);
        line-height: normal;
    }
    &__social {
        position: absolute;
        bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    &__icon {
        width: 28px;
        img {
            width: 100%;
        }
    }
    &__link {
        position: relative;
        text-decoration: none;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: var(--light-text-color);
        &::before {
            content: '';
            bottom: -5px;
            left: 0;
            position: absolute;
            width: 0%;
            height: 1px;
            background-color: var(--light-text-color);
            transition: 0.4s;
        }
        &:hover::before {
            width: 100%;
        }
    }
    &__text {
        padding-top: 20px;
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        text-align: justify;
        color: var(--dark-color);
        span {
            font-weight: 600;
            color: var(--blue-color);
        }
    }
    &__button {
        z-index: 1;
        position: absolute;
        top: 50%;
        border-radius: 50px;
        width: 60px;
        height: 60px;
        background: var(--light-color);
        transition: 0.4s;
        &::before {
            content: '';
            position: absolute;
            background: url("../img/icons/arrow.svg") no-repeat center;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        img {
            max-width: 100%
        }
        &_prev {
            left: 5px;
            transform: translateY(-50%) rotate(180deg);
        }
        &_next {
            right: 5px;
            transform: translateY(-50%);
        }
        &:hover {
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
        }
    }
}