.footer {
    padding: 50px 0;
    background: #371ED3;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        row-gap: 25px;
    }
    &__logo {
        position: relative;
        font-weight: 800;
        font-size: 30px;
        line-height: 35px;
        color: #FFFFFF;
        &::after {
            content: '';
            position: absolute;
            background-color: #FFFFFF;
            width: 150px;
            height: 3px;
            left: 0;
            bottom: -5px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        list-style-type: none;
    }
    &__link {
        position: relative;
        font-weight: 800;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Raleway';
        &::before {
            content: '';
            bottom: -5px;
            left: 0;
            position: absolute;
            width: 0%;
            height: 3px;
            background-color: #FFFFFF;
            transition: 0.4s;
        }
        &:hover::before {
            width: 100%;
        }
    }
    &__socials {
        display: flex;
        column-gap: 25px;
        justify-content: end;
    }
    &__description {
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;

        color: #FFFFFF;
    }
    &__social {
        width: 35px;
        height: 35px;
        img {
            width: 100%;
        }
    }
    &__store {
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 25px;
    }
    &__button {
        height: 45px;
        background: rgba(0, 0, 0, 0);
        cursor: pointer;
        img {
            height: 100%;
        }
    }
}