.footer {
    padding: 50px 0 25px;
    background: var(--dark-blue-color);
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background: url("../img/bg-elements/white-layer-2.svg") top/contain no-repeat;
        left: 0;
        top: -1px;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    &__wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        position: relative;
        font-weight: 800;
        font-size: 30px;
        line-height: 35px;
        color: var(--light-color);
        &::after {
            content: '';
            position: absolute;
            background-color: var(--light-color);
            width: 150px;
            height: 3px;
            left: 0;
            bottom: -5px;
        }
    }
    &__info {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        list-style-type: none;
    }
    &__link {
        position: relative;
        font-weight: 800;
        font-size: 20px;
        line-height: 23px;
        color: var(--light-color);
        text-decoration: none;
        &::before {
            content: '';
            bottom: -5px;
            left: 0;
            position: absolute;
            width: 0%;
            height: 2px;
            background-color:var(--light-color);
            transition: 0.4s;
        }
        &:hover::before {
            width: 100%;
        }
    }
    &__socials {
        display: flex;
        column-gap: 15px;
        justify-content: end;
    }
    &__social {
        width: 35px;
        height: 35px;
        img {
            width: 100%;
        }
    }
    &__stores {
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 10px;
    }
    &__button {
        width: 134px;
        background: rgba(0, 0, 0, 0);
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}