.header {
    padding-top: 30px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        z-index: 3;
        font-size: 25px;
        font-weight: 800;
        color: var(--blue-color);
        text-decoration: none;
        span {
            color: var(--dark-blue-color);
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        column-gap: 27px;
        list-style-type: none;
    }
    &__link {
        position: relative;
        color: var(--blue-color);
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        &::before {
            content: '';
            bottom: -5px;
            left: 0;
            position: absolute;
            width: 0%;
            height: 2.5px;
            background-color: var(--blue-color);
            transition: 0.4s;
        }
        &:hover::before {
            width: 100%;
        }
    }
    &__stores {
        display: flex;
        column-gap: 10px;
    }
    &__button {
        width: 134px;
        img {
            width: 100%;
        }
    }
    &__menu-button {
        z-index: 3;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 30px;
        height: 20px;
        span {
            height: 2px;
            width: 85%;
            border-radius: 14px;
            background-color: var(--dark-blue-color);
            transition: all .5s ease;
            &:nth-child(2) {
                width: 100%;
            }
            &:nth-child(3) {
                width: 75%;
            }
        }
        &:hover {
            span {
                &:nth-child(1n) {
                    width: 100%;
                }
            }
        }
    }
}
