@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .header {
        &__list {
            column-gap: 15px;
        }
        &__link {
            font-size: 17px;
        }
        &__stores {
            column-gap: 5px;
        }
        &__button {
            width: 115px;
        }
    }
    .promo {
        &__title {
            font-size: 85px;
            line-height: normal;
        }
        &__subtitle {
            font-size: 22px;
            line-height: normal;
        }
        &__description {
            font-size: 17px;
            line-height: normal;
        }
        &__stores {
            column-gap: 20px;
        }
        &__socials {
            bottom: 50px;
        }
    }
    .bg-elements {
        &__whale {
            right: 25px;
        }
        &__square {
            right: 115px;
        }
    }
    .about {
        &__subtitle {
            margin-top: 10px;
        }
        &__wrapper {
            margin-top: 25px;
        }
        &-item {
            &__title {
                font-size: 22px;
            }
        }
    }
    .stories {
        min-height: 700px;
        &__slider {
            max-width: 550px;
        }
        &-item {
            &__picture {
                min-width: 520px
            }
        }
        &-elements {
            &__ship {
                top: 19px;
                right: 32px;
                width: 179px;
            }
        }
    }
    .approve {
        &__name {
            font-size: 22px;
        }
        &__prof {
            font-size: 22px;
        }
    }
    .playtest {
        &-elements {
            &__fish {
                &_blue {
                    left: 230px;
                }
                &_red {
                    bottom: -30px;
                }
            }
        }
    }
    .footer {
        &__description {
            font-size: 22px;
        }
    }
    .policy {
        &__text {
            font-size: 22px;
            line-height: normal;
        }
    }
    .title {
        font-size: 55px;
        line-height: normal;
    }
    .subtitle {
        font-size: 22px;
        line-height: normal;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
    .header {
        &__nav {
            display: flex;
            align-items: center;
            z-index: 2;
            position: fixed;
            justify-content: center;
            left: 0;
            top: -100%;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(5px);
            transition: all .5s ease;
            &_active {
                top: 0;
                background-color: rgba(#DFEAFC, 0.95);
            }
        }
        &__list {
            display: flex;;
            flex-direction: column;
            text-align: center;
            row-gap: 50px;
        }
        &__link {
            font-size: 25px;
        }
        &__stores {
            display: none;
        }
        &__menu-button {
            display: flex;
        }
    }
    .promo {
        &__title {
            font-size: 75px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__description {
            font-size: 15px;
        }
        &__button{
            max-width: 170px;
            max-height: 170px;
        }
        &__socials {
            bottom: 25px;
        }
    }
    .bg-elements {
        &__whale {
            top: 305px;
            right: 0px;
            width: 350px;
        }
        &__square {
            width: 245px;
            height: 245px;
            top: 332px;
            right: 62px;
        }
    }
    .about {
        &__subtitle {
            margin-top: 10px;
        }
        &__wrapper {
            margin-top: 25px;
            grid-template-columns: repeat(auto-fill, 340px);
            gap: 25px;
        }
        &-item {
            &__title {
                font-size: 22px;
            }
            &__wrapper {
                grid-template-columns: 110px 210px;
            }
        }
    }
    .stories {
        min-height: 580px;
        &__sliders {
            margin-top: 25px;
        }
        &__slider {
            max-width: 450px;
        }
        &-item {
            &__picture {
                min-width: 425px;
            }
        }
        &-elements {
            &__ship {
                top: 111px;
                right: 32px;
                width: 88px;
            }
        }
    }
    .approve {
        &__container {
            grid-template-columns: 450px 200px;
        }
        &__link {
            font-size: 17px;
        }
        &__icon {
            width: 17px;
        }
        &__container {
            max-width: 575px;
            min-height: 380px;
        }
    }
    .playtest {
        &-elements {
            &__fish {
                &_blue {
                    left: 140px;
                }
            }
        }
    }
    .footer {
        &__wrapper {
            column-gap: 25px;
        }
        &__socials {
            column-gap: 15px;
        }
    }
    .title {
        font-size: 50px;
    }
}
@media (max-width: 768px) {
    .promo {
        &__stores {
            flex-direction: column;
            row-gap: 15px;
        }
        &__item {
            row-gap: 5px;
        }
        &__store {
            text-align: start;
            font-size: 25px;
        }
        &__button {
            padding: 0;
            max-width: 175px;
        }
        &__google-play {
            content: url('../../img/icons/google-play.png');
        }
        &__app-store {
            content: url('../../img/icons/app-store.png');
        }
    }
    .bg-elements {
        &__whale {
            top: 395px;
            right: -12px;
            width: 340px;
        }
        &__square {
            width: 230px;
            height: 230px;
            top: 424px;
            right: 60px;
        }
        &__fish {
            &_blue {
                top: 153px;
                right: 139px;
            }
            &_red {
                &:nth-child(1) {
                    top: 94px;
                    right: 194px;
                }
                &:nth-child(2) {
                    top: 767px;
                    right: 85px;
                }
            }
            &_yellow {
                top: 146px;
                right: 67px;
            }
            &_white {
                top: 702px;
                right: 130px;
            }
        }
    }
    .about {
        &-elements {
            &__fish {
                &_white {
                    top: 150px;
                }
            }
        
        }
    }
    .stories {
        min-height: 530px;
        &__slider {
            max-width: 350px;
            &_front {
                top: 50px;
            }
        }
        &-item {
            &__tablet {
                width: 100%;
            }
            &__picture {
                min-width: 330px;
            }
        }
        &-elements {
            display: none;
        }
    }
    .approve {
        &__container {
            display: flex;
            flex-direction: column;
        }
        &__social {
            margin-top: 10px;
            justify-content: start;
        }
        &__container {
            max-width: 375px;
            min-height: 480px;
        }
    }
    .playtest {
        &-elements {
            &__fish {
                &_blue {
                    top: -35px;
                    left: 20px;
                }
                &_red {
                    bottom: -40px;
                }
            }
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__logo {
            text-align: center;
            &::after {
                left: 50%;
                transform: translateX(-50%);
                bottom: -5px;
            }
        }
        &__socials {
            justify-content: center;
        }
        &__info {
            text-align: center;
        }
        &__link {
            font-size: 22px;
        }
        &__store {
            justify-content: center;
        }
    }
}
@media (max-width: 576px) {
    .container {
        padding: 15px;
    }
    .header {
        &__list {
            row-gap: 30px;
        }
        &__link {
            font-size: 25px;
        }
    }
    .promo {
        &__wrapper {
            margin: 0 auto;
            margin-top: 140px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__title {
            font-size: 60px;
        }
        &__subtitle {
            padding: 0;
            font-size: 18px;
        }
        &__description {
            padding: 0;
            font-size: 15px;
        }
        &__stores {
            position: absolute;
            bottom: 145px;
            flex-direction: row;
            column-gap: 10px;
        }
        &__item {
            row-gap: 5px;
        }
        &__store {
            font-size: 20px;
            text-align: center;
        }
        &__button {
            max-width: 140px;
        }
        &__socials {
            left: 25px;
            bottom: 25px;
            justify-content: start;
        }
    }
    .bg-elements {
        overflow: hidden;
        &__whale {
            top: 393px;
            width: 290px;
            left: 0;
            transform: translateX(-50%);
            margin: 0 auto;
        }
        &__square {
            width: 220px;
            height: 220px;
            top: 408px;
            left: 50%;
            &:nth-child(1) {
                transform: translateX(-50%) rotate(51.74deg);
            }
            &:nth-child(2) {
                transform: translateX(-50%) rotate(41.74deg);
            }
            &:nth-child(3) {
                transform: translateX(-50%) rotate(31.74deg);
            }
        }
        &__fish {
            &_blue {
                top: 148px;
                right: 84px;
            }
            &_red {
                &:nth-child(1) {
                    top: 90px;
                    right: 128px;
                }
                &:nth-child(2) {
                    top: 819px;
                    right: 22px;
                }
            }
            &_yellow {
                top: 146px;
                right: 22px;
            }
            &_white {
                top: 762px;
                right: 76px;
            }
        }
    }
    .about {
        &__subtitle {
            margin-top: 10px;
        }
        &__wrapper {
            margin-top: 35px;
            grid-template-columns: repeat(auto-fill, 270px);
            gap: 25px;
        }
        &-item {
            row-gap: 10px;
            &__wrapper {
                grid-template-columns: 85px 170px;
                column-gap: 15px;
            }
            &__picture {
                padding: 10px;
            }
            &__title {
                font-size: 17px;
                line-height: normal;
            }
            &__description {
                font-size: 15px;
                line-height: normal;
            }
        }
        &-elements {
            &__fish {
                &_red {
                    top: -35px;
                }
                &_white {
                    top: auto;
                    bottom: -75px;
                }
            }
        
        }
    }
    .stories {
        min-height: auto;
        &__slider {
            margin: 0 auto;
            max-width: 270px;
            &_front {
                display: none;
            }
        }
        &-item {
            &__tablet {
                width: 100%;
            }
            &__picture {
                min-width: 255px;
            }
        }
    }
    .approve {
        &__name {
            font-size: 17px;
            line-height: normal;
        }
        &__prof {
            font-size: 17px;
            line-height: normal;
        }
        &__link {
            font-size: 15px;
            line-height: normal;
        }
        &__text {
            font-size: 15px;
            line-height: normal;
        }
        &__social {
            position: absolute;
            bottom: 15px;
        }
        &__container {
            padding: 15px;
            max-width: 180px;
            min-height: 580px;
        }
        &__button {
            width: 40px;
            height: 40px;
            &_prev {
                left: 0px;
            }
            &_next {
                right: 0px;;
            }
        }
    }
    .playtest {
        &-video {
            padding: 10px;
            &__item {
                box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.25);
            }
        }
    }
    .try-app {
        &__store {
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
        }
        &__button {
            height: 50px;
        }
    }
    .footer {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 20px;
        }
        &__info {
            li {
                text-align: center;
            }
        }
        &__link {
            font-size: 15px;
        }
        &__description {
            font-size: 17px;
        }
        &__social {
            width: 25px;
            height: 25px;
        }
        &__store {
            flex-direction: row;
            justify-content: center;
            column-gap: 10px;
        }
    }
    .policy {
        &__text {
            font-size: 17px;
        }
    }
    .title {
        font-size: 35px;
        line-height: normal;
    }
    .subtitle {
        font-size: 17px;
    }
}