.playtest {
    padding: 50px 0 75px 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background: url("../img/bg-elements/dark-blue-layer-3.svg") top/contain no-repeat;
        left: 0;
        top: -1px;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    &::after {
        content: '';
        position: absolute;
        background: url("../img/bg-elements/blue-layer-3.svg") bottom/contain no-repeat;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    &__wrapper {
        vertical-align: top;
        overflow: hidden;
    }
    &-video {
        padding: 25px;
        position: relative;
        max-width: 890px;
        margin: 0 auto;
        &__item {
            width: 100%;
            border-radius: 25px;
            vertical-align: top;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
        }
    }
}