.policy {
    padding: 50px 0;
    background: #371ED3;
    &__wrapper {
        max-width: 100%;
        background: #FFFFFF;
        padding: 25px;
        border-radius: 25px;;
    }
    &__subtitle {
        margin: 15px 0;
    }
    &__info {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }
    &__text {
        margin-top: 10px;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
    }
}