.promo {
  z-index: 10;
  position: relative;
  height: 900px;
  background-color: var(--light-blue-color);
  &::before {
    content: "";
    position: absolute;
    background: url("../img/bg-elements/blue-layer-1.svg") bottom/contain
      no-repeat;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    background-size: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    background: url("../img/bg-elements/dark-blue-layer-1.svg") bottom/contain
      no-repeat;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    background-size: 100%;
  }
  &__wrapper {
    padding-top: 260px;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    z-index: -2;
  }
  &__title {
    margin: 0;
    font-size: 90px;
    font-weight: 800;
    line-height: normal;
    color: var(--dark-blue-color);
  }
  &__subtitle {
    padding-left: 5px;
    font-weight: 600;
    font-size: 25px;
    line-height: normal;
    color: var(--dark-text-color);
    span {
      color: var(--dark-blue-color);
    }
  }
  &__description {
    padding-left: 5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    color: var(--dark-text-color);
  }
  &__stores {
    margin-top: 75px;
    display: flex;
    column-gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__store {
    color: var(--dark-text-color);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
  }
  &__button {
    max-width: 200px;
    max-height: 200px;
    padding: 12px;
    border-radius: 25px;
    background: var(--light-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.4s;
    img {
      display: block;
      width: 100%;
    }
    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    }
  }
  &__socials {
    position: absolute;
    bottom: 65px;
    right: 50px;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: end;
  }
  &__social {
    width: 35px;
    height: 35px;
    transition: 0.4s;
    img {
      width: 100%;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  &-elements {
    z-index: -3;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    &__whale {
      position: absolute;
      top: 246px;
      right: 85px;
      width: 480px;
      animation: swim 12s infinite alternate ease-in-out;
      z-index: 5;
      img {
        width: 100%;
      }
    }
    &__squares {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -3;
    }
    &__square {
      width: 345px;
      height: 345px;
      border-radius: 35px;
      top: 274px;
      right: 165px;
      transition: 0.4s;
      &:nth-child(1) {
        position: absolute;
        transform: rotate(51.74deg);
        background: var(--blue-color);
        z-index: 1;
      }
      &:nth-child(2) {
        position: absolute;
        transform: rotate(41.74deg);
        background: var(--dark-blue-color);
        z-index: 1;
      }
      &:nth-child(3) {
        position: absolute;
        transform: rotate(31.74deg);
        background: url("../../img/sea-bg.jpg") center center/cover no-repeat;
        z-index: 1;
      }
    }
    &__fishs {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -3;
    }
    &__fish {
      animation: swim 10s infinite alternate ease-in-out;
      &_red {
        &:nth-child(1) {
          position: absolute;
          width: 73px;
          top: 157px;
          right: 194px;
          animation-duration: 8s;
        }
        &:nth-child(2) {
          position: absolute;
          width: 61px;
          top: 701px;
          right: 85px;
          animation-duration: 6s;
        }
      }
      &_blue {
        position: absolute;
        top: 221px;
        right: 152px;
        rotate: 352deg;
        width: 56px;
        animation-duration: 7s;
      }
      &_yellow {
        position: absolute;
        top: 219px;
        right: 67px;
        width: 60px;
        animation-duration: 8s;
      }
      &_white {
        position: absolute;
        top: 641px;
        right: 130px;
        width: 80px;
        animation-duration: 5s;
      }
    }
  }
}
