.stories {
    min-height: 950px;
    padding: 50px 0 75px 0;
    background-color: var(--light-color);
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background: url("../img/bg-elements/blue-layer-2.svg") bottom/contain no-repeat;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    &::after {
        content: '';
        position: absolute;
        background: url("../img/bg-elements/dark-blue-layer-2.svg") bottom/contain no-repeat;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    &__title {
        text-align: end;
    }
    &__sliders {
        z-index: 2;
        margin-top: 50px;
        position: relative;
        width: 100%;
    }
    &__slider {
        max-width: 674px;
        margin: 0;
        &_front {
            position: absolute;
            top: 90px;
            right: 0;
        }
    }
    &__wrapper {
        position: relative;
    }
    &-item {
        &__tablet {
            width: 100%;
            position: relative;
            img {
                width: 100%;
            }
        }
        &__picture {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            min-width: 633px;
            img {
                border-radius: 8px;
                width: 100%;
            }
        }
    }
    &-elements {
        z-index: -1;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        &__fish {
            animation: swim-horizontal 10s infinite alternate ease-in-out;
            &_red {
                &:nth-child(1) {
                    position: absolute;
                    width: 50px;
                    top: 46px;
                    left: 180px;
                    animation-duration:8s;
                }
                &:nth-child(2) {
                    position: absolute;
                    width: 65px;
                    top: 87px;
                    left: 129px;
                    animation-duration:6s;
                }
            }
            &_yellow {
                position: absolute;
                top: 90px;
                left: 60px;
                width: 60px;
                animation-duration:8s;
            }
        }
    }
}