<section class="about" id="about">
  <div class="container about__container">
    <div class="about__wrapper">
      <div class="about__top">
        <div class="about__qr-block">
          <div class="qr">
            <img class="qr__img" src="@img/icons/qr-code/qr-all.png" alt="QR to info">
            <p class="qr__text">Скачивайте наше приложение и подписывайтесь на социальные сети!</p>
          </div>
          <div class="about__bg-elements">
            <img src="@img/bg-elements/star.png" alt="star" class="about__bg-elements_star about__bg-elements_star-1">
            <img src="@img/bg-elements/star.png" alt="star" class="about__bg-elements_star about__bg-elements_star-2">
            <img src="@img/bg-elements/star.png" alt="star" class="about__bg-elements_star about__bg-elements_star-3">
            <img src="@img/bg-elements/yellow-fish.png" alt="fish"
              class="about__bg-elements_fish about__bg-elements_fish-1">
            <img src="@img/bg-elements/red-fish.png" alt="fish"
              class="about__bg-elements_fish about__bg-elements_fish-2">
            <img src="@img/bg-elements/ship.png" alt="ship" class="about__bg-elements_ship">
          </div>
        </div>
        <div class="about__info">
          <h2 class="title title_9xl title_blue about__title">О приложении</h2>
          <div class="description about__description">
            Вовлекающее приключение по страницам полезных сказок для детей 2-4 лет.
            Ребенок выполняет задания, вписанные в сюжет, проходит историю вместе с
            персонажами.
          </div>
        </div>
      </div>
      <div class="about__bottom">
        <div class="about-item">
          <div class="about-item__wrapper">
            <div class="about-item__picture">
              <img src="@img/icons/about-icon/book-star.svg" alt="book">
            </div>
            <h3 class="title title_2xl about-item__title">Сказки<br>о важном</h3>
          </div>
          <div class="description description_white about-item__description">
            Помогают ребёнку усваивать правила поведения и проживать свои чувства
          </div>
        </div>
        <div class="about-item">
          <div class="about-item__wrapper">
            <div class="about-item__picture">
              <img src="@img/icons/about-icon/moon-stars.svg" alt="moon">
            </div>
            <h3 class="title title_2xl about-item__title">Полное погружение</h3>
          </div>
          <div class="description description_white about-item__description">
            Увлекательный сюжет, авторские картинки, приятная озвучка и чарующая
            музыка
          </div>
        </div>
        <div class="about-item">
          <div class="about-item__wrapper">
            <div class="about-item__picture">
              <img src="@img/icons/about-icon/child-toy.svg" alt="toy">
            </div>
            <h3 class="title title_2xl about-item__title">Развивающие задания</h3>
          </div>
          <div class="description description_white about-item__description">
            Стимулируют интеллект, творчество и моторику, продвигая ребенка по
            сюжету
          </div>
        </div>
        <div class="about-item">
          <div class="about-item__wrapper">
            <div class="about-item__picture">
              <img src="@img/icons/about-icon/chat-smile.svg" alt="smile">
            </div>
            <h3 class="title title_2xl about-item__title">Вовлеченность в сказку</h3>
          </div>
          <div class="description description_white about-item__description">
            Активное участие ребёнка в сюжете, воспитание без нравоучений
          </div>
        </div>
        <div class="about-item">
          <div class="about-item__wrapper">
            <div class="about-item__picture">
              <img src="@img/icons/about-icon/paint-brush.svg" alt="brush">
            </div>
            <h3 class="title title_2xl about-item__title">Лаконичный дизайн</h3>
          </div>
          <div class="description description_white about-item__description">
            Приятный дизайн и понятное управление (По данным результатов
            плей-тестов)
          </div>
        </div>
        <div class="about-item">
          <div class="about-item__wrapper">
            <div class="about-item__picture">
              <img src="@img/icons/about-icon/specialist.svg" alt="hand">
            </div>
            <h3 class="title title_2xl about-item__title">Одобрено психологами</h3>
          </div>
          <div class="description description_white about-item__description">
            Безопасный контент для самых маленьких
          </div>
        </div>
      </div>
    </div>
  </div>
</section>