<section class="about" id="about">
  <div class="container">
    <h2 class="title about__title">О приложении</h2>
    <div class="subtitle about__subtitle">
      Вовлекающее приключение по страницам полезных сказок для детей 2-4 лет.
      Ребенок выполняет задания, вписанные в сюжет, проходит историю вместе с
      персонажами.
    </div>
    <div class="about__wrapper">
      <div class="about-item">
        <div class="about-item__wrapper">
          <div class="about-item__picture">
            <img src="@img/icons/about-icon/book-star.svg" alt="book" />
          </div>
          <div class="about-item__title">Сказки<br />о важном</div>
        </div>
        <div class="about-item__description">
          Помогают ребёнку усваивать правила поведения и проживать свои чувства
        </div>
      </div>
      <div class="about-item">
        <div class="about-item__wrapper">
          <div class="about-item__picture">
            <img src="@img/icons/about-icon/moon-stars.svg" alt="moon" />
          </div>
          <div class="about-item__title">Полное погружение</div>
        </div>
        <div class="about-item__description">
          Увлекательный сюжет, авторские картинки, приятная озвучка и чарующая
          музыка
        </div>
      </div>
      <div class="about-item">
        <div class="about-item__wrapper">
          <div class="about-item__picture">
            <img src="@img/icons/about-icon/child-toy.svg" alt="toy" />
          </div>
          <div class="about-item__title">Развивающие задания</div>
        </div>
        <div class="about-item__description">
          Стимулируют интеллект, творчество и моторику, продвигая ребенка по
          сюжету
        </div>
      </div>
      <div class="about-item">
        <div class="about-item__wrapper">
          <div class="about-item__picture">
            <img src="@img/icons/about-icon/chat-smile.svg" alt="smile" />
          </div>
          <div class="about-item__title">Вовлеченность в сказку</div>
        </div>
        <div class="about-item__description">
          Активное участие ребёнка в сюжете, воспитание без нравоучений
        </div>
      </div>
      <div class="about-item">
        <div class="about-item__wrapper">
          <div class="about-item__picture">
            <img src="@img/icons/about-icon/paint-brush.svg" alt="brush" />
          </div>
          <div class="about-item__title">Лаконичный дизайн</div>
        </div>
        <div class="about-item__description">
          Приятный дизайн и понятное управление (По данным результатов
          плей-тестов)
        </div>
      </div>
      <div class="about-item">
        <div class="about-item__wrapper">
          <div class="about-item__picture">
            <img src="@img/icons/about-icon/specialist.svg" alt="hand" />
          </div>
          <div class="about-item__title">Одобрено психологами</div>
        </div>
        <div class="about-item__description">
          Безопасный контент для самых маленьких
        </div>
      </div>
    </div>
  </div>
</section>