<section class="achievements" id="achievements">
  <div class="container achievements__container">
    <h2 class="title title_lg achievements__title">Достижения</h2>
    <div class="description description_white achievements__description">
      Пройден большой путь от идеи до первых побед, и мы не будем останавливаться на достигнутом!
    </div>
    <div class="achievements__wrapper">
      <div class="achievements__item">
        <img src="@img/achievements/Igroprom.png" alt="Igroprom image" class="achievements__img">
        <div class="achievements__info">Стали Выбором Комитета Игропром на втором онлайн-фестивале</div>
      </div>
      <div class="achievements__item">
        <img src="@img/achievements/Skolkovo.png" alt="Skolkovo image" class="achievements__img">
        <div class="achievements__info">Победили в двух номинациях на питчинге инди-игр Startup Village</div>
      </div>
      <div class="achievements__item">
        <img src="@img/achievements/StartGame.png" alt="Start Game image" class="achievements__img">
        <div class="achievements__info">Вышли в финал Всероссийского конкурса "Начини Игру"</div>
      </div>
    </div>
  </div>
</section>