<section class="approve" id="approve">
  <div class="container approve__container">
    <h2 class="title title_lg approve__title">
      Одобрено психологами<br>и педагогами
    </h2>
    <div class="description description_white approve__description">
      Книгакит сотрудничает с психологами, экспертами по безопасности,
      педагогами. Многие из них пожелали прикоснуться к проекту и оставили в
      сюжетах и постах подсказки для родителей, которые помогут легко наладить быт с малышом.
    </div>
    <div class="swiper slider approve__slider">
      <div class="swiper-wrapper approve__wrapper">
        <div class="swiper-slide slider__item">
          <div class="slider__container">
            <div class="slider__info">
              <h3 class="title title_md slider__name">Алёна Наборнова</h3>
              <div class="description description_white slider__prof">Практикующий психолог</div>
            </div>
            <div class="slider__content">
              <div class="slider__text">
                “Мною просмотрены две сказки “Заяц ждет гостей” и “Котик учится
                играть”. Считаю, что
                <span>эти сказки не только безопасны для детей, но и полезны для
                  дальнейшего развития.</span>
                Картинки несложные, но яркие, что помогает ребенку без труда
                воспринимать сюжет. Озвучка грамотная и все звуки очень четкие.<br />Детям
                можно включать эти сказки c года (в присутствии родителей и c
                сопутствующими комментариями). C 2-3 лет дети способны
                самостоятельно прослушать сказки и поучаствовать в интерактивах.”
              </div>
              <div class="slider__social">
                <div class="slider__icon">
                  <img src="@img/icons/social/telegram.svg" alt="telegram" />
                </div>
                <a href="https://t.me/alenaak17" target="_blank" class="slider__link">alenaak17</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide slider__item">
          <div class="slider__container">
            <div class="slider__info">
              <h3 class="title title_md slider__name">Александра Чирва</h3>
              <div class="description description_white slider__prof">Логопед, миофункциональный терапевт</div>
            </div>
            <div class="slider__content">
              <div class="slider__text">
                “Сказка ‘Котёнок учится играть’ подойдет для деток c 1,5-2 лет,
                <span>задания возможны к выполнению по их нормотипичному
                  развитию.</span><br />Что понравилось: сюжет интересный, включение домашнего
                любимца, всегда нравится деткам. Сказка ‘Заяц ждёт гостей’
                подойдет для детей c 2-x лет”
              </div>
              <div class="slider__social">
                <a href="#!" class="slider__link">@logoped.aleksandra</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide slider__item">
          <div class="slider__container">
            <div class="slider__info">
              <h3 class="title title_md slider__name">Татьяна Агеенко</h3>
              <div class="description description_white slider__prof">
                Педагог, преподаватель русского языка.
              </div>
            </div>
            <div class="slider__content">
              <div class="slider__text">
                “Я с огромным удовольствием прочитала две сказки: про зайчика
                Георгия и котенка Пушка, потому что
                <span>у каждой истории есть увлекательный сюжет, а также не менее
                  захватывающие задания, причем каждое из них помогает малышам
                  развить тот или иной навык или же обучает правилам
                  поведения.</span><br />
                Из прекрасных решений приложения хочется отметить наличие разных
                режимов: только чтение, только слушание, только игра или же
                комбинации режимов, так что можно использовать сказку с детьми
                разного возраста в зависимости от тех навыков, которые нужно
                развить ребенку”
              </div>
              <div class="slider__social">
                <div class="slider__icon">
                  <img src="@img/icons/social/vk.svg" alt="vk" />
                </div>
                <a href="https://vk.com/taniaag" target="_blank" class="slider__link">taniaag</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider__buttons">
        <button class="btn-reset slider__button slider__button_prev">
          <img src="@img/icons/arrow.svg" alt="prev icon">
        </button>
        <button class="btn-reset slider__button slider__button_next">
          <img src="@img/icons/arrow.svg" alt="next icon">
        </button>
      </div>
    </div>
    <img src="@img/bg-elements/raccoon-child.png" alt="raccon" class="approve__bg-element">
  </div>
</section>