<section class="approve" id="approve">
  <div class="container">
      <h2 class="title title_white approve__title">Одобрено психологами<br>и педагогами</h2>
      <div class="approve__slider swiper slider">
          <div class="approve__wrapper swiper-wrapper">
              <div class="approve__item swiper-slide">
                  <div class="approve__container">
                      <div class="approve__name">Алёна Наборнова</div>
                      <div class="approve__prof">Практикующий психолог</div>
                      <div class="approve__text">
                          “Мною просмотрены две сказки “Заяц ждет гостей” и “Котик учится играть”. Считаю, что <span>эти сказки не только безопасны для детей, но и полезны для дальнейшего развития.</span> Картинки несложные, но яркие, что помогает ребенку без труда воспринимать сюжет. Озвучка грамотная и все звуки очень четкие.<br>Детям можно включать эти сказки c года (в присутствии родителей и c сопутствующими комментариями). C 2-3 лет дети способны самостоятельно прослушать сказки и поучаствовать в интерактивах.”
                      </div>
                      <div class="approve__social">
                          <div class="approve__icon">
                              <img src="@img/icons/Social/telegram.svg" alt="telegram">
                          </div>
                          <a href="https://t.me/alenaak17" class="approve__link">alenaak17</a>
                      </div>
                  </div>
              </div>
              <div class="approve__item swiper-slide">
                  <div class="approve__container">
                      <div class="approve__name">Александра Чирва</div>
                      <div class="approve__prof">Логопед, миофункциональный терапевт</div>
                      <div class="approve__text">
                          “Сказка ‘Котёнок учится играть’ подойдет для деток c 1,5-2 лет, <span>задания возможны к выполнению по их нормотипичному развитию.</span><br>Что понравилось: сюжет интересный, включение домашнего любимца, всегда нравится деткам. Сказка ‘Заяц ждёт гостей’ подойдет для детей c 2-x лет”
                      </div>
                      <div class="approve__social">
                          <a href="#!" class="approve__link">@logoped.aleksandra</a>
                      </div>
                  </div>
              </div>
              <div class="approve__item swiper-slide">
                  <div class="approve__container">
                      <div class="approve__name">Татьяна Агеенко</div>
                      <div class="approve__prof">Педагог, преподаватель русского языка.</div>
                      <div class="approve__text">
                          “Я с огромным удовольствием прочитала две сказки: про зайчика Георгия и котенка Пушка, потому что <span>у каждой истории есть увлекательный сюжет, а также не менее захватывающие задания, причем каждое из них помогает малышам развить тот или иной навык или же обучает правилам поведения.</span><br>
                          Из прекрасных решений приложения хочется отметить наличие разных режимов: только чтение, только слушание, только игра или же комбинации режимов, так что можно использовать сказку с детьми разного возраста в зависимости от тех навыков, которые нужно развить ребенку”
                      </div>
                      <div class="approve__social">
                          <div class="approve__icon">
                              <img src="@img/icons/Social/vk.svg" alt="vk">
                          </div>
                          <a href="https://vk.com/taniaag" class="approve__link">taniaag</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="approve__button approve__button_prev"></div>
          <div class="approve__button approve__button_next"></div>
      </div>
  </div>
</section>