<section class="email" id="email">
  <div class="container email__container">
    <div class="email__wrapper">
      <h1 class="title title_lg title_blue email__title">Связаться с нами</h1>
      <div class="description email__description">
        Вы можете поделиться с нами своими пожеланиями, идеями и предложениями, а также вашими успехами,
        тревогами и забавными историями — будем рады каждому письму!
      </div>
      <div class="email__content">
        <form action="#" class="form email__form" method="POST">
          <label class="form__label">
            <input class="input input_name form__input" data-validate-field="name" name="Имя" placeholder="Анастасия"
              type="text">
          </label>
          <label class="form__label">
            <input class="input input_mail form__input" data-validate-field="email" name="Email"
              placeholder="example@mail.ru"
              type="mail">
          </label>
          <label class="form__label">
            <textarea maxlength="500" rows="10" class="textarea form__textarea" data-validate-field="text"
              name="Сообщение"
              placeholder="Здравствуйте, команда КнигаКит! &#128051;"></textarea>
          </label>
          <button class="btn-reset form__button">Отправить</button>
        </form>
        <img src="@img/bg-elements/whale.png" alt="whale" class="email__bg-element">
      </div>
    </div>
  </div>
</section>