<footer class="footer">
  <div class="container footer__container">
    <a href="/" class="footer__logo">
      <img src="@img/icons/logo-white.svg" alt="KnigaKit logo">
    </a>
    <div class="footer__wrapper">
      <ul class="footer__info list-reset">
        <li><a href="/privacy-policy.html" class="footer__link">Политика конфиденциальности</a></li>
      </ul>
      <div class="footer__socials">
        <a href="https://vk.com/knigakit_app" target="_blank" class="footer__social">
          <img src="@img/icons/social/vk-white.svg" alt="vk">
        </a>
        <a href="https://t.me/knigakit_app" target="_blank" class="footer__social">
          <img src="@img/icons/social/telegram-white.svg" alt="telegram">
        </a>
        <a href="https://boosty.to/knigakit" target="_blank" class="footer__social">
          <img src="@img/icons/social/boosty.svg" alt="boosty">
        </a>
      </div>
    </div>
  </div>
</footer>