<footer class="footer">
  <div class="container">
      <div class="footer__logo">КнигаКит</div>
      <div class="footer__wrapper">
          <ul class="footer__info">
              <li><a href="/policy.html" class="footer__link">Политика конфиденциальности</a></li>
              <!-- <li><a href="#" class="footer__terms-of-use">Условия использования</a></li> -->
          </ul>
          <div class="footer__socials">
              <a href="https://vk.com/knigakit_app" class="footer__social">
                  <img src="@img/icons/Social/vk-white.svg" alt="vk">
              </a>
              <a href="https://t.me/knigakit_app" class="footer__social">
                  <img src="@img/icons/Social/telegram-white.svg" alt="telegram">
              </a>
          </div>
          <div class="footer__stores">
              <a href="https://play.google.com/store/apps/details?id=com.bookuarium" class="footer__button">
                  <img src="@img/icons/google-play.png" alt="google-play">
              </a>
              <a href="https://testflight.apple.com/join/DbVTOTyp" class="footer__button">
                  <img src="@img/icons/app-store.png" alt="app-store">
              </a>
          </div>
      </div>
  </div>
</footer>