<section class="playtest" id="playtest">
  <div class="container playtest__container">
    <div class="playtest__wrapper">
      <h2 class="title title_lg title_blue playtest__title">Дети играют</h2>
      <div class="description description playtest__description">
        Все сюжеты и задания тщательно протестированы и подобраны по возрасту.
        Ваш ребёнок точно справится самостоятельно, а вы сможете выпить свой чай горячим.
      </div>
      <div class="video playtest__video">
        <button class="btn-reset video__button" id="video-button">
          <img src="@img/icons/play.svg" alt="play">
        </button>
        <div class="video__overlay"></div>
        <video autoplay controls muted loop id="video-item">
          <source src="@video/playtest.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>