<section class="promo">
  <div class="container promo__container">
    <div class="promo__wrapper">
      <h1 class="promo__title">КнигаКит</h1>
      <div class="promo__subtitle">
        Погружение в сказку — <span>полезные истории</span> и <span>развивающие игры</span> <br>для детей!
      </div>
      <div class="promo__description">Без рекламы. Безопасно. Одобрено психологами.</div>
      <div class="promo__qr-block">
        <a href="https://taplink.cc/knigakit" target="_blank" class="promo__qr">
          <img src="@img/icons/qr-code/qr-all.png" alt="qr">
        </a>
        <p class="promo__text"><span>Скачивайте</span> наше приложение<br>и <span>подписывайтесь</span><br>на социальные
          сети!
        </p>
      </div>
      <div class="promo__stores">
        <div class="promo__item">
          <a href="https://apps.apple.com/us/app/%D0%BA%D0%BD%D0%B8%D0%B3%D0%B0-%D0%BA%D0%B8%D1%82-%D1%81%D0%BA%D0%B0%D0%B7%D0%BA%D0%B8-%D0%B4%D0%BB%D1%8F-%D0%BC%D0%B0%D0%BB%D1%8B%D1%88%D0%B5%D0%B9/id1667021322"
            target="_blank" class="promo__button">
            <img src="@img/icons/stores/app-store.png" class="promo__app-store" alt="app-store">
          </a>
        </div>
        <div class="promo__item">
          <a href="https://play.google.com/store/apps/details?id=com.bookuarium" target="_blank" class="promo__button">
            <img src="@img/icons/stores/google-play.png" class="promo__google-play" alt="google-play">
          </a>
        </div>
        <div class="promo__item">
          <a href="https://apps.rustore.ru/app/com.bookuarium" target="_blank" class="promo__button">
            <img src="@img/icons/stores/rustore.png" class="promo__rustore" alt="rustore">
          </a>
        </div>
      </div>
    </div>
    <div class="promo__socials">
      <a href="https://vk.com/knigakit_app" target="_blank" class="promo__social">
        <img src="@img/icons/social/vk-white.svg" alt="vk">
      </a>
      <a href="https://t.me/knigakit_app" target="_blank" class="promo__social">
        <img src="@img/icons/social/telegram-white.svg" alt="telegram">
      </a>
      <a href="https://boosty.to/knigakit" target="_blank" class="promo__social">
        <img src="@img/icons/social/boosty.svg" alt="boosty">
      </a>
    </div>
    <div class="bg-elements">
      <img src="@img/bg-elements/whale.png" alt="whale" class="bg-elements__whale">
      <img src="@img/bg-elements/whale-bg.png" alt="whale-bg" class="bg-elements__whale-bg">
      <div class="bg-elements__fishs">
        <img src="@img/bg-elements/red-fish.png" alt="red-fish" class="bg-elements__fish bg-elements__fish_red">
        <img src="@img/bg-elements/red-fish.png" alt="red-fish" class="bg-elements__fish bg-elements__fish_red">
        <img src="@img/bg-elements/blue-fish.png" alt="blue-fish" class="bg-elements__fish bg-elements__fish_blue">
        <img src="@img/bg-elements/yellow-fish.png" alt="yellow-fish"
          class="bg-elements__fish bg-elements__fish_yellow">
        <img src="@img/bg-elements/white-fish.png" alt="white-fish" class="bg-elements__fish bg-elements__fish_white">
      </div>
    </div>
  </div>
</section>