<section class="stories">
  <div class="container">
    <h2 class="title title_9xl title_blue stories__title">Погрузитесь в мир<br>увлекательных сказок</h2>
    <div class="description stories__description">
      Дети не просто слушают сказку, а играют в неё.<br>Чтобы двигаться по сюжету, ребенок помогает персонажу, выполняя
      развивающие задания.
    </div>
    <div class="tabcontent stories__tabcontent">
      <div class="tabcontent__screen">
        <img src="@img/screenshots/hare-story.jpg" alt="Hare Story screen" class="tabcontent__picture">
        <img src="@img/screenshots/cat-story.jpg" alt="Cat Story screen" class="tabcontent__picture">
        <img src="@img/screenshots/raccoon-story.jpg" alt="Raccoon Story screen" class="tabcontent__picture">
      </div>
      <div class="tabcontent__header">
        <div class="tabcontent__item tabcontent__item_active">
          <div class="tabcontent__info">
            <div class="tabcontent__icon">
              <img src="@img/icons/story-icons/hare-story-icon.jpg" alt="Hare Story icon">
            </div>
            <h3 class="title title_4xl title_blue tabcontent__title">Заяц ждёт гостей</h3>
          </div>
          <div class="tabcontent__tags">
            <div class="tabcontent__tag">#терпение</div>
            <div class="tabcontent__tag">#дружба</div>
          </div>
          <div class="description description_blue tabcontent__description">Узнай, какое лакомство приготовил заяц Жора
            для своих друзей!</div>
        </div>
        <div class="tabcontent__item">
          <div class="tabcontent__info">
            <div class="tabcontent__icon">
              <img src="@img/icons/story-icons/cat-story-icon.jpg" alt="Hare Story icon">
            </div>
            <h3 class="title title_4xl title_blue tabcontent__title">Котик учится играть</h3>
          </div>
          <div class="tabcontent__tags">
            <div class="tabcontent__tag">#свободнаяигра</div>
          </div>
          <div class="description description_blue tabcontent__description">Посмотри, в какую запутанную историю попал
            котик Пушок!</div>
        </div>
        <div class="tabcontent__item">
          <div class="tabcontent__info">
            <div class="tabcontent__icon">
              <img src="@img/icons/story-icons/raccoon-story-icon.jpg" alt="Hare Story icon">
            </div>
            <h3 class="title title_4xl title_blue tabcontent__title">Потерявшийся Енот</h3>
          </div>
          <div class="tabcontent__tags">
            <div class="tabcontent__tag">#безопасность</div>
          </div>
          <div class="description description_blue tabcontent__description">Помоги еноту Филе вернуться домой! Запомни
            правила безопасности.</div>
        </div>
      </div>
    </div>
  </div>
</section>