<section class="stories">
  <div class="container">
      <h2 class="title stories__title">Погрузитесь в мир<br>увлекательных сказок</h2>
      <div class="stories__sliders">
          <div class="stories__slider swiper">
              <div class="stories__wrapper swiper-wrapper">
                  <div class="stories-item swiper-slide">
                      <div class="stories-item__tablet">
                          <img src="@img/tablet.png" alt="tablet">
                          <div class="stories-item__picture">
                              <img src="@img/stories/HareStory.jpg" alt="hareStory">
                          </div>
                      </div>
                  </div>
                  <div class="stories-item swiper-slide">
                      <div class="stories-item__tablet">
                          <img src="@img/tablet.png" alt="tablet">
                          <div class="stories-item__picture">
                              <img src="@img/stories/HareStory-game.jpg" alt="hareStoryGame">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="stories__slider stories__slider_front swiper">
              <div class="stories__wrapper swiper-wrapper">
                  <div class="stories-item swiper-slide">
                      <div class="stories-item__tablet">
                          <img src="@img/tablet.png" alt="tablet">
                          <div class="stories-item__picture">
                              <img src="@img/stories/CatStory.jpg" alt="catStory">
                          </div>
                      </div>
                  </div>
                  <div class="stories-item swiper-slide">
                      <div class="stories-item__tablet">
                          <img src="@img/tablet.png" alt="tablet">
                          <div class="stories-item__picture">
                              <img src="@img/stories/CatStory-game.jpg" alt="catStoryGame">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="stories-elements">
          <div class="stories-elements__fishs">
              <img src="@img/icons/Elements/red-fish.png" alt="red-fish" class="stories-elements__fish stories-elements__fish_red">
              <img src="@img/icons/Elements/red-fish.png" alt="red-fish" class="stories-elements__fish stories-elements__fish_red">
              <img src="@img/icons/Elements/yellow-fish.png" alt="yellow-fish" class="stories-elements__fish stories-elements__fish_yellow">
          </div>
      </div>
  </div>
</section>