<section class="team" id="team">
  <div class="container">
    <h2 class="title title_9xl title_blue team__title">Наша команда</h2>
    <div class="description team__description">
      Мечтаем поселить частичку доброй сказки в дом каждого юного слушателя.
    </div>
    <div class="team__wrapper">
      <div class="team__item">
        <img src="@img/team/Victoria.jpg" alt="team-1" class="team__photo">
        <div class="team__info">
          <h3 class="title title_2xl title_black team__name">Виктория Дерипасская</h3>
          <div class="team__tags">
            <div class="team__tag">Продюсер</div>
            <div class="team__tag">Сценарист</div>
          </div>
        </div>
      </div>
      <div class="team__item">
        <img src="@img/team/Denis.jpg" alt="team-2" class="team__photo">
        <div class="team__info">
          <h3 class="title title_2xl title_black team__name">Денис Самодуров</h3>
          <div class="team__tags">
            <div class="team__tag">Старший разработчик</div>
            <div class="team__tag">Unity-разработчик</div>
          </div>
        </div>
      </div>
      <div class="team__item">
        <img src="@img/team/Natalia.jpg" alt="team-3" class="team__photo">
        <div class="team__info">
          <h3 class="title title_2xl title_black team__name">Наталья Бандзеладзе</h3>
          <div class="team__tags">
            <div class="team__tag">Unity-разработчик</div>
            <div class="team__tag">Web-разработчик</div>
          </div>
        </div>
      </div>
      <div class="team__item">
        <img src="@img/team/Anna.jpg" alt="team-4" class="team__photo">
        <div class="team__info">
          <h3 class="title title_2xl title_black team__name">Анна<br>Любаева</h3>
          <div class="team__tags">
            <div class="team__tag">2D художник</div>
            <div class="team__tag">Сценарист</div>
          </div>
        </div>
      </div>
      <div class="team__item">
        <img src="@img/team/Kamilla.jpg" alt="team-5" class="team__photo">
        <div class="team__info">
          <h3 class="title title_2xl title_black team__name">Камилла Ядгарова</h3>
          <div class="team__tags">
            <div class="team__tag">2D художник</div>
            <div class="team__tag">UI/UX</div>
            <div class="team__tag">Community Manager</div>
          </div>
        </div>
      </div>
      <div class="team__item">
        <img src="@img/team/Kostya.jpg" alt="team-6" class="team__photo">
        <div class="team__info">
          <h3 class="title title_2xl title_black team__name">Константин Лестарт</h3>
          <div class="team__tags">
            <div class="team__tag">Sound-дизайнер</div>
            <div class="team__tag">Композитор</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>