<section class="try-app">
  <div class="container">
      <div class="try-app__wrapper">
          <h2 class="title title_white try-app__title">Попробуйте наше<br>приложение</h2>
          <div class="try-app__stores">
              <div class="try-app__item">
                  <a href="https://play.google.com/store/apps/details?id=com.bookuarium" class="try-app__button">
                      <img src="@img/icons/QR-code/qr-google-play.png" alt="google-play" class="try-app__google-play">
                  </a>
                  <div class="try-app__store">Google Play</div>
              </div>
              <div class="try-app__item">
                  <a href="https://testflight.apple.com/join/DbVTOTyp" class="try-app__button">
                      <img src="@img/icons/QR-code/qr-app-store.png" alt="app-store" class="try-app__app-store">
                  </a>
                  <div class="try-app__store">App Store</div>
              </div>
          </div>
          <div class="try-app-elements">
              <img src="@img/icons/Elements/whale.png" alt="whale" class="try-app-elements__whale">
              <div class="try-app-elements__fishs">
                  <img src="@img/icons/Elements/red-fish.png" alt="red-fish" class="try-app-elements__fish try-app-elements__fish_red">
                  <img src="@img/icons/Elements/red-fish.png" alt="red-fish" class="try-app-elements__fish try-app-elements__fish_red">
                  <img src="@img/icons/Elements/yellow-fish.png" alt="yellow-fish" class="try-app-elements__fish try-app-elements__fish_yellow">
              </div>
          </div>
      </div>
  </div>
</section>