<section class="try-app">
  <div class="container try-app__container">
    <h2 class="title title_white try-app__title">Попробуйте наше<br>приложение</h2>
    <div class="try-app__stores">
      <div class="try-app__item">
        <a href="https://play.google.com/store/apps/details?id=com.bookuarium" class="try-app__button">
          <img src="@img/icons/qr-code/qr-google-play.png" alt="google-play" class="try-app__google-play">
        </a>
        <div class="try-app__store">Google Play</div>
      </div>
      <div class="try-app__item">
        <a href="https://apps.apple.com/us/app/%D0%BA%D0%BD%D0%B8%D0%B3%D0%B0-%D0%BA%D0%B8%D1%82-%D1%81%D0%BA%D0%B0%D0%B7%D0%BA%D0%B8-%D0%B4%D0%BB%D1%8F-%D0%BC%D0%B0%D0%BB%D1%8B%D1%88%D0%B5%D0%B9/id1667021322"
          class="try-app__button">
          <img src="@img/icons/qr-code/qr-app-store.png" alt="app-store" class="try-app__app-store">
        </a>
        <div class="try-app__store">App Store</div>
      </div>
    </div>
    <div class="try-app-elements">
      <img src="@img/bg-elements/whale.png" alt="whale" class="try-app-elements__whale">
      <img src="@img/bg-elements/ship.png" alt="ship" class="try-app-elements__ship">
    </div>
  </div>
</section>