html {
  box-sizing: border-box;
  font-variant-numeric: lining-nums;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-white);
  cursor: default;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--color-white);

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
  @include sm {
    padding: 0 1rem;
  }
}

.stop-scroll {
  overflow: hidden;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-light-grey);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--color-pink);
}
