:root {
  --light-blue-color: #dfeafc;
  --blue-color: #79a3f7;
  --dark-blue-color: #4c82ef;

  --dark-text-color: #131443;
  --light-text-color: #6e6e6e;

  --light-color: #ffffff;
  --dark-color: #000000;
}
