:root {
  --font-family: "Raleway", sans-serif;
  --content-width: 1160px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-blue-color: #dfeafc;
  --soft-blue-color: #79a3f7;
  --blue-color: #4c82ef;
  --dark-blue-color: #002b88;

  --grey-text-color: #6e6e6e;

  --light-color: #fafafa;
  --dark-color: #0a0a0a;
  --green-color: #77d780;
  --pink-color: #f897a1;
  --orange-color: #ffa05c;

  --text-sm: 14px;
  --text-base: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-5xl: 48px;
}
