:root {
    --light-blue-color: #DFEAFC;
    --blue-color: #79A3F7;
    --dark-blue-color: #4C82EF;

    --dark-text-color: #131443;
    --light-text-color: #6E6E6E;

    --light-color: #FFFFFF;
    --dark-color: #000000;
}